{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block content %}
    <h1>Catégories</h1>

    <div class="row">
        {% for category in categories %}
            <div class="col-12 col-md-6 col-lg-4 d-flex">
                <div class="digivia-card with-action">
                    <div class="left">
                    <span class="digivia-letter-badge">
                        {{ category.name|first }}
                    </span>
                    </div>
                    <div class="right ms-3">
                        <h2 class="h3">{{ category.name }}</h2>
                        <small class="text-muted"><span class="badge bg-info">{{ category.children|length }}</span> sous-catégories</small>
                        <br>
                        <small class="text-muted">Créée le {{ category.createdAt|ago }}</small>
                    </div>
                    <div class="action">
                        <a href="{{ path('blog_category_show', {'id': category.id}) }}" class="btn btn-outline-secondary"><i class="bi-binoculars-fill"></i></a>
                        <a href="{{ path('blog_category_edit', {'id': category.id}) }}" class="btn btn-outline-secondary"><i class="bi-pencil-square"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('blog_category_new') }}" class="btn btn-outline-secondary">Ajouter une catégorie</a>
{% endblock %}
