{% extends 'admin/admin_base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block content %}
    <h1 class="text-teal">#Articles</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Status</th>
                <th>Publié le</th>
                <th>Créé</th>
                <th>Mis à jour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.status }}</td>
                <td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i') : '' }}</td>
                {% dump(post.createdAt) %}
                {% dump(post.updatedAt) %}
                <td>{{ post.updatedAt and post.updatedAt > post.createdAt ? post.updatedAt|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a href="{{ path(constant('App\\Controller\\RouteCatalog::ADMIN_POST_SHOW'), {'id': post.id}) }}" class="btn btn-outline-info">aperçu</a>
                    <a href="{{ path(constant('App\\Controller\\RouteCatalog::ADMIN_POST_EDIT'), {'id': post.id}) }}" class="btn btn-outline-teal">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">Tu n'as rédigé aucun article pour le moment...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path(constant('App\\Controller\\RouteCatalog::ADMIN_POST_NEW')) }}" class="btn btn-outline-orange">
        {% include '_partials/svg/pencil.svg.twig' %}
        Rédiger un article
    </a>
{% endblock %}
